@model Sistema_Leucemia_v2.Models.Sindrome_genetico

@{
    ViewBag.Seccion = "Síndromes genéticos";
    ViewBag.SeccionL = "Síndrome_genetico";
    ViewBag.Subseccion1 = "";
    ViewBag.Subseccion1L = "";
    ViewBag.Descripcion = "";
    ViewBag.Subseccion = "Detalles del Síndrome genético";

}

<div class="col-lg-12">
    <!-- Avatar Sizing-->
    <div id="sizing">
        <div class="card mb-12">
            <div class="card-header">@Html.Display("Subseccion")</div>
            <div class="card-body">
                <!-- Component Preview-->

                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.grado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.grado)
                        </dd>


                    </dl>
                </div>
                <p>
                    <a class="btn btn-cyan me-2 my-1" href="~/Sindrome_genetico/Index"><b><i data-feather="arrow-left-circle"></i>  Regresar</b></a>
                </p>
            </div>

        </div>
    </div>
    <!-- Avatar Status Indicators-->

</div>
