@model IEnumerable<Sistema_Leucemia_v2.Models.Paciente>

@{
    ViewBag.Seccion = "Examen médico";
    ViewBag.SeccionL = "Examen_medico";
    ViewBag.Subseccion1 = "";
    ViewBag.Subseccion1L = "";
    ViewBag.Descripcion = "";
    ViewBag.Subseccion = "Lista de Exámenes médicos";

}
<div class="col-lg-12">
    <!-- Avatar Sizing-->
    <div id="sizing">
        <div class="card mb-12">
            <div class="card-header">@Html.Display("Subseccion")</div>
            <div class="card-body">
                <!-- Component Preview-->

                <table class="table" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.dni)</th>
                            <th>@Html.DisplayNameFor(model => model.hc)</th>
                            <th>@Html.DisplayNameFor(model => model.nombres)</th>
                            <th>@Html.DisplayNameFor(model => model.ap_paterno)</th>
                            <th>@Html.DisplayNameFor(model => model.ap_materno)</th>
                            <th>@Html.DisplayNameFor(model => model.sexo)</th>
                            <th>Edad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.dni)</th>
                            <th>@Html.DisplayNameFor(model => model.hc)</th>
                            <th>@Html.DisplayNameFor(model => model.nombres)</th>
                            <th>@Html.DisplayNameFor(model => model.ap_paterno)</th>
                            <th>@Html.DisplayNameFor(model => model.ap_materno)</th>
                            <th>@Html.DisplayNameFor(model => model.sexo)</th>
                            <th>Edad</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.hc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ap_paterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ap_materno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sexo)
                                </td>
                                <td>
                                    22
                                </td>
                                <td>
                                    <a class="btn btn-teal btn-xs" href="~/Examen_medico/Create"><i data-feather="plus-circle"></i> Agregar Examen</a>
                                    <a class="btn btn-yellow btn-xs" href="~/Examen_medico/Details2/@item.idPaciente"><i data-feather="more-vertical"></i>Ver Exámenes</a>

                                </td>

                            </tr>
                        }
                    <tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Avatar Status Indicators-->

</div>

