@model Sistema_Leucemia_v2.Models.Control_sangre

@{
    ViewBag.Seccion = "Control de sangre";
    ViewBag.SeccionL = "Control_sangre";
    ViewBag.Subseccion1 = "";
    ViewBag.Subseccion1L = "";
    ViewBag.Descripcion = "";
    ViewBag.Subseccion = "Detalles del Control de sangre";

}

<div class="col-lg-12">
    <!-- Avatar Sizing-->
    <div id="sizing">
        <div class="card mb-12">
            <div class="card-header">@Html.Display("Subseccion")</div>
            <div class="card-body">
                <!-- Component Preview-->

                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Diagnostico.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Diagnostico.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.leucocitos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.leucocitos)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EMR)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMR)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.hemoglobina)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.hemoglobina)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.plaquetas)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.plaquetas)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.linfoblasto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.linfoblasto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.neutrofilos)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.neutrofilos)
                        </dd>

                    </dl>
                </div>
                <p>
                    
                    <a class="btn btn-cyan me-2 my-1" href="~/Diagnostico/Index"><b><i data-feather="arrow-left-circle"></i>  Regresar</b></a>
                </p>
            </div>

        </div>
    </div>
    <!-- Avatar Status Indicators-->

</div>
