@model Sistema_Leucemia_v2.Models.Condicion_previa

@{
    ViewBag.Seccion = "Condiciones previas";
    ViewBag.SeccionL = "";
    ViewBag.Subseccion1 = "Condiciones previas";
    ViewBag.Subseccion1L = "Condicion_previa";
    ViewBag.Descripcion = "";
    ViewBag.Subseccion = "Borrar Condición Previa ";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Condicion_previa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.antecedente_familiar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antecedente_familiar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.radiacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.radiacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tabaquismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabaquismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sustancia_quimica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sustancia_quimica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a class="btn btn-cyan me-2 my-1" href="~/Diagnostico/Index"><b><i data-feather="arrow-left-circle"></i>  Regresar</b></a>
        </div>
    }
</div>
